<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><i class="fas fa-users"></i> Customers</h3>
    </div>
    <div class=" d-grid gap-2 col-6 mx-auto">
      <a class="btn rounded-pill btn-warning" href="customers/new_customer">New Customer</a>
    </div>
  </div>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"> Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% customerList.forEach((customer)=>{ %>
          <td><a style="text-decoration: none;" href="customers/<%=customer._id%>">
              <%= customer.name%>
            </a></td>
          <td><a style="text-decoration: none;" href="customers/<%=customer._id%>">
              <%= customer.address%>
            </a></td>
          <td><a style="text-decoration: none;" href="customers/<%=customer._id%>"></a>
            <%= customer.phone%></a>
          </td>

          <td>
            <%= customer.description%>
          </td>
          <form action="/customers/delete/<%= customer._id %>/?_method=delete" method="post" class="d-inline">
            <td><input class="btn rounded-pill btn-outline-danger" type="submit" value="Delete"
                onclick="return confirm('Ma Hubtaa Inad Masaxdid')" /></td>
          </form>

      </tr>
      <% }); %>
    </tbody>
  </table>
  </br>
</div>